body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}
button {
    background-color: #6200ee;
    color: blue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
